.container {
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .error {
    color: rgba(236, 52, 52, 0.719);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-block: 100px 20px;
  }

  .loading {
    margin-block: 100px 50px;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-right: 10px;

    &:focus {
      border: 1px solid black;
    }

    &::placeholder {
      color: #ccc;
    }
  }

  button {
    @include button-styles("primary");
  }
}

.order-container {
  margin-bottom: 20px;

  label {
    font-size: 17px;
    font-weight: bold;
    margin-right: 3px;
  }

  select {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    outline: none;
  }
}

.medicines-container {
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  button {
    @include button-styles("secondary");
  }
}
