.container {
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .error {
    color: rgba(236, 52, 52, 0.719);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-block: 100px 20px;
  }
}
