.home-container {
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .error {
    color: rgba(236, 52, 52, 0.719);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-block: 100px 20px;
  }

  .loading {
    margin-block: 100px 50px;
  }
}

.order-container {
  margin-bottom: 20px;

  label {
    font-size: 17px;
    font-weight: bold;
    margin-right: 3px;
  }

  select {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    outline: none;
  }
}

.medicines-container {
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  button {
    @include button-styles("secondary");
  }
}
