@mixin button-styles($val) {
  @if $val == "primary" {
    @extend .button-base;

    gap: 8px;
    background: rgb(230, 227, 227);
    color: #000;
    font-weight: 500;

    &:hover {
      background: #ccc;
    }
  }

  @if $val == "secondary" {
    @extend .button-base;

    gap: 8px;
    background: #007bff;
    color: #fff;
    font-weight: 500;

    &:hover {
      background: #0069d9;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}
