.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #111827ab;

  p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
}

.loading-wrapper {
  @extend .flex-container;

  flex-direction: column;
  gap: 20px;

  .spiner {
    height: 70px;
    width: 70px;
    border-bottom: 4px solid #7dbcff;
    border-top: 4px solid #7dbcff;
    border-radius: 100%;
    animation: spiner 1s linear infinite;
  }
}

@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
