.medicine-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .card-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 9px 18px -5px rgba(0, 0, 0, 0.75);
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  h3 {
    background: #f73636d2;
    color: #ffffff;
    margin-bottom: 10px;
    padding-block: 15px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 15px;

  .button-wrapper {
    display: flex;
    gap: 10px;
  }

  p {
    font-size: 18px;
  }

  span {
    text-transform: lowercase;
    font-weight: 600;
  }

  button {
    @include button-styles("secondary");
  }
}
